<h1>Cocktail</h1>
<%= cl_image_tag @cocktail.photo.key, width: 400, height: 300, crop: :fill %>
<p><%= @cocktail.name %></p>
<% @cocktail.doses.each do |dose| %>
 <p>Dose description: <%= dose.description %>  </p>
 <p>Ingredient: <%= dose.ingredient.name  %> </p>
 <!-- need to state it is a delete method -->
 <%= link_to "Delete Poison" , dose_path(dose), method: "delete" %>
 <% end %>
