<h1>Cocktail</h1>
<%= cl_image_tag @cocktail.photo.key, width: 400, height: 300, crop: :fill %>
<p><%= @cocktail.name %></p>
<% @cocktail.doses.each do |dose| %>
<div>
  <p class="bold">Ingredient: </p>
  <span> <%= dose.ingredient.name %> - Type: <%= dose.description %> (
  <%= link_to "Delete Poison" , dose_path(dose), method: "delete" %>)</span>
</div>
</button>
<% end %>
<%= link_to "Add Poison dosages" , new_cocktail_dose_path(@cocktail), class: 'btn btn-primary btn-sm' %>

